*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

body{
    /* Background Image */
    background-image: url(/HomeImages/Background_Home_4.png);
    background-color: #f6eee8;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 650px;
    background-attachment: fixed;

    /* Year Buttons */
    display: flex;
    height: 100vh;
    align-items: center;
}

.container{
    display: flex;
    padding-top: 350px;
    padding-left: 450px;
}

.card{
    height: 300px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
    border-radius: 10px;
}

img.Year1{
    height: 300px;
    width: 225px;
    border-radius: 10px;
}

.intro{
    height: 50px;
    width: 225px;
    padding-left: 55px;
    box-sizing: border-box;
    position: absolute;
    bottom: 40px;
    background: rgb(27, 27, 27, .5);
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.h1_card{
    font-size: 30px;
    font-family: 'Brush Script MT', cursive;
    padding-left: 20px;
}

p{
    font-size: 10px;
    font-weight: bold;
    padding-left: 10px;
}

.card:hover{
    cursor: pointer;
}