*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

body{
    /* Background Image */
    background-image: url(/HomeImages/Background.png);
    background-color: #f6eee8;
    background-repeat: no-repeat;
    background-position: center 85px;
    background-size: 650px;
    background-attachment: fixed;

    /* Year Buttons */
    display: flex;
    height: 100vh;
    align-items: center;
}

.left-container{
    display: flex;
    position: fixed;
    padding-top: 250px;
    padding-left: 250px;
    z-index: 2;
}

.right-container{
    display: flex;
    position: fixed;
    padding-top: 250px;
    padding-left: 1050px;
    z-index: 1;
}

.card{
    height: 300px;
    box-shadow: 5px 5px 30px black;
    overflow: hidden;
    border-radius: 20px;
}

img.Year1{
    height: 300px;
    width: 225px;
    border-radius: 20px;
}

.intro{
    height: 40px;
    width: 225px;
    padding-left: 55px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0px;
    background: rgb(27, 27, 27, .5);
    color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 2vb;
    transition: height 0.3s ease;
}

.h1_card{
    font-size: 30px;
    font-family: 'Brush Script MT', cursive;
    padding-left: 20px;
    color: #f6eee8;
}

.intro p{
    font-size: 10px;
    font-weight: bold;
    padding-left: 10px;
    color: #f6eee8;
    font-family: Arial, sans-serif;
    font-style: italic;
    visibility: hidden;
}

.card:hover{
    cursor: pointer;
}

.card:hover .intro {
    height: 50px;
}

.card:hover .intro p {
    visibility: visible;
}

.navbar {
    width: 100%;
    background-color: #333;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.navbar ul li a {
    display: block;
    color: #f6eee8;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Brush Script MT", cursive;
    font-size: 25px;
}

.navbar ul li a:hover {
    background-color: #f6eee8;
    color: black;
}

